# {{ ansible_managed }}
storage:
  wiredTiger:
    engineConfig:
      cacheSizeGB: 4
  dbPath: {{ mongodb_datadir_prefix}}/mongo-repl
  journal:
    enabled: true
  mmapv1:
    smallFiles: true
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log
net:
  port: {{ mongodb_port }}
  bindIp: {{ mongodb_bind_address }}
processManagement:
  fork: true

#security:
# keyFile: {{ mongodb_datadir_prefix }}/secret,

replication:
 replSetName: {{ mongodb_repl_set_name }}
